body{
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    text-align: center;

}
img{
    width: 200px;
}
.resz{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: justify;

}
.tartalom{
    border-style:solid;
    border-top: 1px;
    border-color: red;
    border-right: none;
    border-bottom: none;
    text-align: center;
}
.resz{
    text-align: center;
}
#folyamatos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
}
#folyamatos img{
    width: 400px;
}
#folyamatos h1{
    border-bottom: red solid 1px;
}

@media screen and (max-width:500px) {
    .resz{
        grid-template-columns: 1fr ;
    }
  }